@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* RESET BASE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE DO PROJETO */

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #0b0b0b;
  -webkit-font-smoothing: antialiased;
}

/* ELEMENTOS PADRÃO */

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

input,
textarea {
  font-family: inherit;
  outline: none;
}